.header {
	background-color: #393939;
}

body {overflow-x:hidden; overflow-y: auto}

#emit_color{
    display: none;
}



#material_name{
    margin: 0.4em, 0.4em;
    padding: 1em, 1em;
}

#material_management {
	padding: 0.6em 1em;
}

#settings_panel {
	border: 0em solid #eeeeee;
	margin: 0em;
	padding: 0em;
}

#preview_image{
    position: relative;
	margin: 0em;
	margin-bottom: 4px;
	padding: 0em;
    left: 0.8em;
    bottom: 0.8em;
    top: 0.8em;

}

.collapse {
	margin: 0em;
	padding: 0em;
}
   
.collapse_check {
	display:none;
	padding: 0em;
    margin: 0em;
}

input[type=text]{
    width: 4em;
}

input[type=button] {
	margin: 3px;
	margin-right: 2px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1em;
	width: 7em;
}

input#divide_by_2, input#multiply_by_2 {
	width: 5em;
}

input#reset {
	width: 16em;
    margin: 0.3em 0em 0.8em 0.8em;
}

input#get_diffuse_color {
	width: 14em;
}

.panelcontent{
    position: relative;
    padding: 0.7em;
    margin: 0em;
}

#cloth{
    position: relative;
}

#light{
}

#diffuse {
    position: relative;
}

#mixfield_uniform{
    position: absolute;
}

#mixfield_texture{
    position: absolute;
}

#exponent_div{
    position: relative;
    
}

.kdr {
    position: absolute;
    left: 8em;
    top: 1em;
}

.kdg {
    position: absolute;
    left: 8em;
    top: 3.5em;
}

.kdb {
    position: absolute;
    left: 8em;
    top: 5.8em;
}

.kdrvalue{
    position: absolute;
    left: 12em;
    top: 8em;
}

.kdgvalue{
    position: absolute;
    left: 12em;
    top: 3em;
}

.kdbvalue{
    position: absolute;
    left: 12em;
    top: 5.5em;
}

#mixmaterials {
    position: relative;
}

.mixmat1{
    position: absolute;
    left: 0em;
    top: 0em;
}

.mixmatlist1{
    position: absolute;
    left: 9em;
    top: -0.4em;
}

.mixmat2{
    position: absolute;
    left: 0em;
    top: 2.6em;
}

.mixmatlist2{
    position: absolute;
    left: 9em;
    top: 2em;
}


#specular_preset{
    position: absolute;
    left: 7em;
    top: -0.2em;
}

#spec_IOR_preset_value{
    position: absolute;
    left: 20em;
    top: 0em;
    width: 20em;
}

#mixtypes_label{
    position: absolute;
    left: 0em;
    top: 0em;
    width: 10em;
}

#mx_imgmapname{
    position: absolute;
    left: 9.5em;
    top: 2.5em;
}

#mx_browse_map{
    position: absolute;
    left: 9em;
    top: 4.5em;
}

.mixtypes_matlist{
    position: absolute;
    left: 9em;
    top: -0.4em;
}

.mixmatlabel{
    position: absolute;
    left: 0em;
    top: 5em;
}

.mixmattypelist{
    position: absolute;
    left: 9em;
    top: 0em;
}

.texture_area_mix{
    position: absolute;
    left: 0em;
    top: 5em;
}

.txfields{
    position: absolute;
    left: 8em;
    top: 7em;
}

.texturelabel{
    position: absolute;
    left: 20em;
    top: 0.7em;
}

.texturedropdown{
    position: absolute;
    left: 26em;
    top: 0.4em;
}

.textureloadbutton{
    position: absolute;
	width: 4em;
    left: 20em;
    top: 5em;
}

.colorizesection{
    position: absolute;
    left: 9em;
    top: 4.5em;
    width: 12em;
}

.proctextsection{
    position: absolute;
    left: 0em;
    top: 3em;
    width: 14em;
}


.imgmapname{
    position: absolute;
    left: 20em;
    top: 3em;
}

#flip_dim {
	width: 17em;
}

.swatch {
    border: 1px solid black;
	width: 6em;
	height: 6em;
    margin: 0em 0em 0em 0em;
    background-color: #ffffff;
}

#spec_IOR_interface{
    position: absolute;
    top: 0.7em;
    left: 0em;
}

#swatch_absorption, #specular_swatch, #em_swatch{
    position: absolute;
    top: 0.7em;
    left: 0.7em;
}

#swatch_metal2{
    position: absolute;
    top: 0.7em;
    left: 0.7em;
}

#lightgain{
    position: absolute;
    left: 0em;
    top: 0.3em;
}

#lightspectrum{
    position: absolute;
    left: 0em;
    top: 3em;
}


#type{
    margin: 1em;
}
#preview {
    margin: 0em;
    padding: 0em;
}

#previewsize{
    position: absolute;
    left: 294px;
    top: 0.6em;
}

#previewtime{
    position: absolute;
    left: 294px;
    top: 2.5em;
}

#update_material_preview{
    position: absolute;
    left: 290px;
    top: 8em;
}

#spec_IOR{
	width: 3em;
}


.parameter_label{
    position: absolute;
	width: 12em;
    left: 0em;
    top: 0em;
}

.parameter_field{
    position: absolute;
    left: 7em;
    top: -0.3em;
}

.parameter_field_coating{
    position: absolute;
    left: 8.5em;
    top: -0.3em;
}

.parameter_field_dm{
    position: absolute;
    left: 6em;
    top: -0.3em;
}

.parameter_field_dr{
    position: absolute;
    left: 14em;
    top: -0.3em;
}

.parameter_field_cloth{
    position: absolute;
    left: 11em;
    top: -0.3em;
}

.parameter_field_light{
    position: absolute;
    left: 9.5em;
    top: -0.3em;
}

.parameter_field_lightT{
    position: absolute;
    left: 15em;
    top: -0.3em;
}

.parameter_field_spectrum{
    position: absolute;
    left: 7em;
    top: -0.3em;
}

.parameter_interface{
    position: relative;
    height: 6.5em;
}

.parameter_interface_refraction{
    position: relative;
    height: 9.0em;
}

.parameter_interface_specular{
    position: relative;
    height: 9.5em;
}

.parameter_interface_single{
    position: relative;
    height: 3em;
}

.parameter_interface_single_padded{
    position: relative;
    height: 3em;
    margin-top: 0.8em;
}

.parameter_interface_autoalpha{
    position: relative;
	left: 0em;
    height: 4.5em;
}

.parameter_interface_light{
    position: relative;
    height: 5.5em;
}

.IES_browse{
    position: relative;
	left: 7.5em;
}

.IES_clear{
    position: relative;
	left: 8em;
}

#metal2_color{
    position: relative;
    top: 0em;
    left: -0.8em;
    height: 8.5em;
}

#u_exponent, #v_exponent, #ka_d, #IOR_index, #film, #filmindex, #cauchyb, #cl_repeatu, #cl_repeatv{
	width: 3em;
}

#ies_path{
	width: 16em;
}

.parameter_interface_mix{
    position: relative;
    height: 12.5em;
}

.parameter_interface_L{
    position: relative;
    left: -0.7em;
    top: -0.7em;
    height: 8.5em;
    margin: 0.7em 0em 0em 0em;
    padding: 0em;
}

.margin_bottom{
    margin: 0em 0em 1em 0em;
}

.parameter_interface_displacement{
    position: relative;
    height: 19em;
}

.mix_uniform_label{
    position: absolute;
    left: 0em;
    top: 3em;
    width: 18em;
}

.mix_uniform_field{
    position: absolute;
    left: 11em;
    top: 2.6em;
}

.texture_area_swatchfield{
    margin: 0em;
    padding: 0em;
    position: absolute;
    left: 9em;
    top: 1em;
}

.texture_area_swatchfield_right{
    margin: 0em;
    padding: 0em;
    position: absolute;
    left: 16em;
    top: 1em;
}
.texture_area_swatchfield_specular{
    margin: 0em;
    padding: 0em;
    position: absolute;
    left: 10em;
    top: 3.5em;
}


.texture_area{
    position: absolute;
    left: 14em;
    top: 0em;
}

.texture_area_autoalpha{
    position: absolute;
    left: 11em;
    top: -1.9em;
}


.texture_area_dr{
    position: absolute;
    left: 7em;
    top: 2.5em;
}

.tex_label_swatch{
    position: absolute;
    left: 0em;
    top: 0em;
}

.tex_label{
    position: absolute;
    left: 0em;
    top: 0em;
    width: 8em;
    height: 3em;
}

.tex_dropdown{
    position: absolute;
    left: 0em;
    top:    -0.3em;
}

.tex_path{
    position: absolute;
    left: 0em;
    top: 2em;
    width: 20em;
}

.tex_loadbutton{
    position: absolute;
    left: -0.1em;
    top: 4em;
}


#loop{
    position: absolute;
    left: 0em;
    top: 2.5em;
    width: 40em;
}

#microdisplacement{
    display: none;
    position: absolute;
    left: 0em;
    top: 9.8em;
    width: 25em;
}

#dm_microlevels_label{
    position: absolute;
    left: 0em;
    top: 0.2em;
}

#dm_subdiv_label{
    position: absolute;
    left: 0em;
    top: 7em;
}

#dm_scale_label{
    position: absolute;
    left: 0em;
    top: 12.5em;
}

#dm_offset_label{
    position: absolute;
    left: 0em;
    top: 15.5em;
}

#dm_scale{
    position: absolute;
    left: 9em;
    top: 11em;
}

#dm_offset{
    position: absolute;
    left: 9em;
    top: 13.4em;
}

#dm_subdivl{
    position: absolute;
    left: 9em;
    top: 6.2em;
}

#dm_microlevels{
    position: absolute;
    left: 9em;
    top: 0em;
}

#dm_normalsmooth{
    position: absolute;
    left: 15.5em;
    top: 7em;
}

#dm_normalsplit{
    position: absolute;
    left: 15.5em;
    top: 10em;
}

#dm_sharpboundary{
    position: absolute;
    left: 15.5em;
    top: 13em;
}

#dm_normalsmooth_label{
    position: absolute;
    left: 17em;
    top: 7em;
    width: 13em;
}
#dm_normalsplit_label{
    position: absolute;
    left: 17em;
    top: 10em;
    width: 13em;
}

#dm_sharpboundary_label{
    position: absolute;
    left: 17em;
    top: 13em;
    width: 13em;
}

#clothtype{
    position: absolute;
    left: 0em;
    top: 0em;
}
#clothrepeatx{
    position: absolute;
    left: 0em;
    top: 3em;
    width: 15em;
}
#clothrepeaty{
    position: absolute;
    left: 0em;
    top: 6em;
    width: 15em;
}

.imagemap{
    display:none;
}
.sketchup{
    display:none;
}

#imagemap_right {
	float: right;
}

#kd_browse_map, #ks_browse_map, #km2_browse_map, #cl1kd_browse_map, #cl1ks_browse_map, #cl2kd_browse_map, #cl2ks_browse_map, #spec_IOR_browse_map, #em_browse_map{
    width: 7em;
}